{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>form_app</title>
    <link rel="stylesheet" type="text/css" href="{% static 'form_app/css/style.css' %}" >
</head>
<body>
    <h1>TEST_EMPS Entry</h1>
    <form action="{% url 'entry' %}" method="post">
        {% csrf_token %}
        <table>
            {{empsEntryForm}}
        </table>
        <input type="submit" value="entry">
    </form>
    <br>
    <hr>
    <form action="{% url 'index' %}" method="post">
        {% csrf_token %}
        <input type="submit" value="back">
    </form>
</body>
</html>